.button {
    background-color: #4CAF50;
    border: none;
    color: white;
   
  }
  .locality{
    background-color: #4CAF50;
    border: none;
    color: white;
   
  }
  
  .body{
      background-color: aqua;
  }
 